@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
}

body {
    margin: 0 auto;
    background-color: #E5E5E5;
    min-width: 245px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 92px;
    width: 100%;

}

.center {
    margin: 0 auto;
    height: 100%;

    max-width: 414px;
    padding-left: 21px;

    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.center h1 {
    font-family: 'Righteous', cursive;
    color: white;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0, 012em;
}

.center h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

main {
    margin-top: 110px;
    margin-right: auto;
    margin-bottom: 108px;
    margin-left: auto;
    max-width: 414px;
    height: 100%;
    padding-left: 21px;
}

main>h1 {
    margin-top: 27px;
    margin-bottom: 8px;

    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;

    color: #333333;
}

main .cardapio {

    display: flex;
    overflow-x: scroll
}

.alimento {

    min-width: 172px;

    margin-right: 16px;
    padding-top: 18px;
    padding-right: 14px;
    padding-bottom: 15px;
    padding-left: 14px;

    border-radius: 9px;

    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.alimento img {
    width: 144px;
    height: 87px;
    margin-bottom: 10px;
}

.alimento h1 {

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 3px;

    color: #333333;
}

.alimento h2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    margin-bottom: 3px;

    color: #A6A6A6;
}

.alimento h3 {

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 92px;
    width: 100%;
}

footer .center{
    background-color: white;
    padding-top: 15px;
    padding-left: 65px;
    padding-bottom: 15px;
    padding-right: 65px;
}

.selecao{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: #CBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;

}

.selecao> h1{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

}

@media(max-width: 340px){
    .selecao> h1{
    font-size: 15px;
    line-height: 15px;
    }
}

.item-selecionado{
    box-shadow: inset 0px 0px 0px 6px green;
    position: relative;
}

.botao-pedido-ativo{
    background-color: green;
}